{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    selector-type-no-unknown: null,
    "number-leading-zero": null,
    "selector-pseudo-element-colon-notation": "single",
    "unit-whitelist": ["px", "vh", "%", "deg", "s", "ms"]
  }
}
